@import "tailwindcss";

body{
    scroll-behavior: smooth;
    user-select:none ;
    /* background: 
                radial-gradient(at 17% 63%, #eef5ff 0px, transparent 50%), 
                radial-gradient(at 97% 64%, #b4d4ff 0px, transparent 50%), 
                radial-gradient(at 28% 33%, #86b6f6 0px, transparent 50%), 
                radial-gradient(at 77% 17%, #fad5ff 0px, transparent 50%), 
                radial-gradient(at 87% 87%, #176b87 0px, transparent 50%), 
                #eef5ff; */
                /* overflow: hidden; */
    /* background-position: ; */

    /* background: radial-gradient(#CEE7F1,#E3F0F3); */
    background: linear-gradient(#f4fdff,#C5E2F0);
}

::-webkit-scrollbar{
    display: none;
}